<section class="row">
  <article class="column">
    <h2>Community</h2>
    <ul>
      <li><a href="/meetups">Meetup</a></li>
      <li><a href="/events">Event</a></li>
      <li><a href="/talks">Talk</a></li>
      <li><a href="/alchemists">Alchemist</a></li>
    </ul>
  </article>
  <article class="column">
    <h2>About</h2>
    <ul>
      <li><a href="https://github.com/ohr486/elixir-lang.tokyo" target="_blank">GitHub</a></li>
    </ul>
  </article>
</section>
